body{
  background: #7f99ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7f99ff 0%, #ffa3a4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7f99ff 0%, #ffa3a4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7f99ff 0%, #ffa3a4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f99ff', endColorstr='#ffa3a4', GradientType=0);
  /* IE6-9 */
  ;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#clock {
  font-family: 'Open Sans Condensed',
  sans-serif;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.strike{
  text-decoration:line-through;
  transition:all. 2s;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center
}
.todo{
  display: flex;
  flex-direction: column;
  min-width:400px ;
  align-items: center;
  justify-content:center;
  padding: 15px;
  border: 1px solid #fcdcf0f1;
  border-radius: 8px;
  background-color: #8ea2f8ce;
}
.ulToDo{
  display: flex;
  justify-content:center;
  flex-direction: column;
}
ul{
  background-color:gainsboro ;
  border-radius: 13px;
  display: inline-block;
}
li{
  list-style-type: none;
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 35px;
}
input{
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 35px;
}
input[type="checkbox"]{
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}
.butAdd button {
  background: rgba(229, 224, 235, 0.856);
  border: 3px solid rgb(111, 53, 177);
  border-radius: 5px;
  color: rgb(111, 53, 177);
  cursor: pointer;
  line-height: 43px;
  font-size: 40px;
  outline: none;
  padding: 0 17px;
  transition:1s;
  margin-top: 10px;
   font-family: 'Open Sans Condensed',
   sans-serif;
   padding: 2px;
}
.butAdd button:hover {
  background: rgb(111, 53, 177);
  color: rgba(255, 255, 255, 1);
}
.butDel{
 background-color: white;
 transition: 1s;
 border-radius: 2px;
 font-size: 22px;
 font-family:sans-serif,
 sans-serif;
 margin: 5px;
 margin-left: 10px;

}
.butDel:hover {
  background-color:#a54350;
  transition: 1s;
}
#DelOk{
    background: rgba(229, 224, 235, 0.856);
    font-family: 'Open Sans Condensed',
    sans-serif;
    font-size: 25px;
}
#DelOk:hover {
  color: #ffffff;
}